html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.hide {
	display: none;
}

#background {
	background-image: url(../images/vaporwave_background.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#login-container * {
	color: #fff;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#login-container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

#input-form-container {
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999;
}

#input-form-container h2 {
	text-align: center;
}

#input-form-container label {
	color: #a0a0a0;
	font-size: 13px;
	margin-top: 15px;
	display: block;
}

#input-form-container input[type="text"],
#input-form-container input[type="email"],
#input-form-container input[type="password"] {
	display: block;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	height: 27px;
	line-height: 27px;
	width: 100%;
}

#input-form-container button {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 250px;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

#input-form-container button:hover {
	cursor: pointer;
}

.has-account-text {
	text-align: center;
}

.has-account-text span {
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

#login-text {
    padding: 45px;
    display: table-cell;
}

#login-text h1 {
	color: #11d7d8;
}

#login-text h2 {
	margin: 35px 0;
}

#login-text ul {
	padding: 0;
}

#login-text li {
	font-size: 20px;
	list-style-type: none;
	padding: 15px 75px;
	background: url(../images/icons/globe.png) no-repeat 0 0;
}

#input-form-container .error-message {
	color: #11d7d8;
	font-weight: bold;
}